## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hilo,US,19.7297,-155.0900,78.53,78,100,13.80,overcast clouds
1,1,Mahebourg,MU,-20.4081,57.7000,76.24,100,75,17.27,light intensity shower rain
2,2,Isangel,VU,-19.5500,169.2667,83.46,78,100,6.67,overcast clouds
3,3,Ushuaia,AR,-54.8000,-68.3000,38.86,81,20,9.22,few clouds
4,4,Hun,LY,29.1268,15.9477,70.16,16,2,13.91,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 85

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hilo,US,19.7297,-155.0900,78.53,78,100,13.80,overcast clouds
1,1,Mahebourg,MU,-20.4081,57.7000,76.24,100,75,17.27,light intensity shower rain
2,2,Isangel,VU,-19.5500,169.2667,83.46,78,100,6.67,overcast clouds
4,4,Hun,LY,29.1268,15.9477,70.16,16,2,13.91,clear sky
6,6,Hithadhoo,MV,-0.6000,73.0833,83.19,70,8,6.78,clear sky
7,7,Ligayan,PH,4.6533,119.4706,79.39,84,100,17.60,overcast clouds
8,8,Gizo,SB,-8.1030,156.8419,84.09,71,78,8.08,broken clouds
9,9,Paro,BT,27.4305,89.4133,54.32,90,99,2.33,overcast clouds
10,10,New Norfolk,AU,-42.7826,147.0587,60.93,58,10,1.01,clear sky
11,11,Dwarka,IN,22.2394,68.9678,77.79,73,0,7.94,clear sky

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                519
City                   519
Country                515
Lat                    519
Lng                    519
Max Temp               519
Humidity               519
Cloudiness             519
Wind Speed             519
Current Description    519
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Hilo,US,19.7297,-155.0900,78.53,78,100,13.80,overcast clouds
1,1,Mahebourg,MU,-20.4081,57.7000,76.24,100,75,17.27,light intensity shower rain
2,2,Isangel,VU,-19.5500,169.2667,83.46,78,100,6.67,overcast clouds
4,4,Hun,LY,29.1268,15.9477,70.16,16,2,13.91,clear sky
6,6,Hithadhoo,MV,-0.6000,73.0833,83.19,70,8,6.78,clear sky
...,...,...,...,...,...,...,...,...,...,...
699,699,Eucaliptus,BO,-17.5833,-67.5167,49.39,70,73,6.76,broken clouds
700,700,Vinh,VN,18.6667,105.6667,63.16,74,100,5.82,overcast clouds
702,702,Kuching,MY,1.5500,110.3333,80.82,89,20,3.44,few clouds
704,704,Beira,MZ,-19.8436,34.8389,75.29,94,20,4.61,few clouds
705,705,Kettering,US,39.6895,-84.1688,48.20,60,100,9.22,light rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hilo,US,78.53,overcast clouds,19.7297,-155.0900,
1,Mahebourg,MU,76.24,light intensity shower rain,-20.4081,57.7000,
2,Isangel,VU,83.46,overcast clouds,-19.5500,169.2667,
4,Hun,LY,70.16,clear sky,29.1268,15.9477,
6,Hithadhoo,MV,83.19,clear sky,-0.6000,73.0833,
7,Ligayan,PH,79.39,overcast clouds,4.6533,119.4706,
8,Gizo,SB,84.09,broken clouds,-8.1030,156.8419,
9,Paro,BT,54.32,overcast clouds,27.4305,89.4133,
10,New Norfolk,AU,60.93,clear sky,-42.7826,147.0587,
11,Dwarka,IN,77.79,clear sky,22.2394,68.9678,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # 6e. Make request and retrieve the JSON data from the search. 
    
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Hilo,US,78.53,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
1,Mahebourg,MU,76.24,light intensity shower rain,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
2,Isangel,VU,83.46,overcast clouds,-19.5500,169.2667,Tanna Lodge
4,Hun,LY,70.16,clear sky,29.1268,15.9477,Alrwasi Hotel
6,Hithadhoo,MV,83.19,clear sky,-0.6000,73.0833,Scoop Guest House
...,...,...,...,...,...,...,...
699,Eucaliptus,BO,49.39,broken clouds,-17.5833,-67.5167,Hotel Serrano
700,Vinh,VN,63.16,overcast clouds,18.6667,105.6667,Vuong Hoan 2
702,Kuching,MY,80.82,few clouds,1.5500,110.3333,Hilton Kuching
704,Beira,MZ,75.29,few clouds,-19.8436,34.8389,Beira Terrace Hotel
705,Kettering,US,48.20,light rain,39.6895,-84.1688,Budget Inn

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [11]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather description</dt><dd>{Current Description}</dd><dd> and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))